@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');



.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;

}
.sb{
  
  /* border: solid; */
  background-color: transparent;
  box-shadow: 0px 2px 6px 0px #000000;
  padding: 10px;
  border-radius: 15px;

}


h2{

  

  font-size: 33px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #000000;

  color: rgb(255, 255, 255);
  font-family: 'Chakra Petch', sans-serif;

}
.sb{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;

}

.ovel{
  
 
  background-image: url("./sbip.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}



*{
  
  margin: 0;
  padding: 0px;


 
}
h1{
   
  color: rgb(66, 201, 255);
  text-align: center;
  align-items: center;
  /* font-size: 38px; */
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px #000000;

}




.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 37px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid;
  /* background-color: #ccc; */
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /* background-color: transparent; */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
